################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeePortal/.vs/EmployeePortal
/EmployeePortal/bin
/EmployeePortal/obj/Debug
